@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

html {
  width: 100%;
  height: 100%;
}

.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A1AE91;
  font-family: PressStart2P, monospace;
  text-transform: uppercase;
}

.canvas {
  position: relative;
  width: 300px;
  height: 600px;
  background-image: 
    repeating-linear-gradient(to right, transparent 0, transparent 29px, #869170 29px, #869170 30px),
    repeating-linear-gradient(to bottom, transparent 0, transparent 29px, #869170 29px, #869170 30px);
  background-size: 30px 30px;
  border: 2px solid #000001;
}

.gameOver {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 600px;
  /* background: #A1AE91; */
  color: black;
  text-align: center;
  /* -webkit-text-stroke: 0.5px #A1AE91; */
  visibility: hidden;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  z-index: 1;
}
